body {
    margin: auto 0;

    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../img/bacground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Nav*/
.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;

    width: 100%;
    height: 3em;

    background-color: rgb(70, 72, 73);
}

a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}

.list__item {
    list-style-type: none;
    display: inline;

    padding: 0.9em 4em;
}

.list__item:hover{
    color: rgb(0,0,0);
    background-color: rgb(226, 226, 226);
}

/*Main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 10em;

    width: 100%;
    height: 90vh;
}

/*Form*/
.tickets__form {
    background-color: rgb(226, 226, 226);
    text-align: center;

    width: 50%;
    height: auto;
    padding: 1em;
    margin: auto;
}

.form__element {
    margin: 1em;
    padding: 0.5em;
}

.signup {
    font-weight: 900;

    padding: 1em;
    color: rgb(226, 226, 226);
    background-color: rgb(255, 0, 0);
}

/*Footer*/
.footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;

    padding: 10px 10px 0px 10px;

    text-align: center;

    background-color: rgb(92, 92, 92);
}